h1, h2 {
    font-family: 'Urbanist', sans-serif;
}

p{
    font-family: 'Urbanist', sans-serif;
}


/* 'color: grey;'>

'font-size: 8px; font-style: italic; color:green;'>

'color: orange; text-align: center; font-weight: bold;'>

'text-justify: auto; color: pink; font-family: tahoma;'>

'text-decoration: underline; color: purple; font-family: Roboto, Helvetica, sans-serif;'>

'background-color: yellow; font-weight: bold; line-height: 25px; font-family: "Comic Sans MS", "Comic Sans", cursive;'>
 */
