h1, h2, li, form, p {
    font-family: 'Urbanist', sans-serif;
}

/* mobile */

@media only screen and (max-width: 600px){

h1, h2, h3, h4, h5 {
    font-size: 20px;
}

body{
    background-color: #3D3B8E;
    font-size: 14px;
    color: #FFF;
}

}

/* tablet, laptop & desktop */

@media only screen and (min-width: 601px){

h1, h2, h3, h4, h5 {
    font-size: 50px;
}

body{
    font-size: 26px;
    background-color: #B0E298;
    color: #000;
}

}


